@import "reset.css";
.sidebar {
  border-top: 6px solid #c9eaea;
  border-bottom: 2px solid #c9eaea;
  background-color: #e3f4f4;
}
.headfoot {
  border-top: 6px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
  background-color: #eee;
}
html {
  font-size: 62.5%;
}
/* =10px */
body {
  font-family: 'Gentium Basic';
  font-size: 1.8rem;
  /* =14px */
  color: #333;
}
h1,
h2 {
  font-family: 'Work Sans';
  margin: 0px 0px 1.2rem 0px;
}
h3,
h4 {
  font-family: 'Gentium Basic';
  color: #444;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
  font-style: oblique;
}
p {
  line-height: 3rem;
  margin: 0 0 2rem 0;
}
.divider-blank {
  height: 30px;
}
.spacer {
  width: calc(100 * 1%);
}
@font-face {
  font-family: 'Gentium Basic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Gentium Basic'), local('GentiumBasic'), url(https://fonts.gstatic.com/s/gentiumbasic/v11/Wnz9HAw9aB_JD2VGQVR80We3LA2JjQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v7/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K-DQBi8Jow.ttf) format('truetype');
}
div.container {
  width: 900px;
  margin: 0 auto;
}
div.container > * {
  padding: 10px;
}
header {
  border-top: 6px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
  background-color: #eee;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center;
}
header nav a {
  margin: 5px;
}
header nav .navlinks {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
header nav .navlinks a {
  margin: 0;
}
header nav .right {
  text-align: right;
}
header nav h1 {
  font-size: 3.6rem;
  margin: 0;
}
section {
  display: flex;
  justify-content: space-between;
}
section .article {
  width: calc(100 * 5%);
  margin: 20px;
  padding: 10px;
}
section .profiles {
  margin: 20px;
  padding: 10px;
  width: calc(100 * 3%);
  border-top: 6px solid #c9eaea;
  border-bottom: 2px solid #c9eaea;
  background-color: #e3f4f4;
}
