@import "./reset.css";
@import "./foundation.less";
@import "./tricks.less";



div.container {
	width: 900px;
	margin: 0 auto;
	> * {
		padding: 10px;
	}
}

header {
	// .blorder();
	// border: 24px, solid, #6b2e2e;
	
	// background-color: @neutral-bg-color;
	// background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);

	nav {
		.blorder();
		display: flex;
		justify-content: space-between;
		margin: 10px 0;
		align-items: center;
		a {margin: 5px;}
		.navlinks {
			.blorder();
			display: flex;
			justify-content: space-between;
			width: 20%;
			a {
				margin: 0;
			}
		}
		.right {
			text-align: right;
		}
		h1 {
			font-size: 3.6rem;
			margin: 0;
		}
	}
	.headfoot();
}


section {
	display: flex;
	justify-content: space-between;
	.blorder();
	
	article {
		.blorder();
		width: calc(@col * 5%);
		margin: @col-margin;
		padding: @col-padding;
	}
	.profiles, .blurb {
		margin: @col-margin;
		padding: @col-padding;
		width: calc(@col * 3%);
		// border-top: 4px solid silver;
		// border-bottom: 1px solid silver;
		.sidebar();
	}

	article.logos {
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		.logo {
			height: 64px;
			width: 64px;
		}
		.react {
			height: 64px;
			width: 64px;
			transform: scale(1.8, 1.8);
		}
		.js {
			height: 64px;
			width: 64px;
			// transform: scale(.9,.9);
		}
	}
	
	
}
