nav {
	top: 1.6em !important;
}

.nav_ul {
	background-color: #ebebeb;
	display: flex;
	justify-content: space-around;
	border-top: 3px solid #ddd;
	border-bottom: 3px solid #ddd;
}

#header .container {
	padding: 10em 0 4em 0 !important;
}

section#main {
	padding: 4em 0 !important;
}